If:
  PathMatch: third_party/.*
  PathExclude: third_party/(duckdb|duckdb_[a-z_]+|database-connector)/.*
Index:
  Background: Skip
---
If:
  PathMatch: build[^/]*/third_party/OpenBLAS/.*
Index:
  Background: Skip
