# Match directory with clangd cache
/.cache/

# Match build directory
/build/
/build_*/

# Match vscode settings directory
/.vscode/

# Match CMake user presets
/CMakeUserPresets.json

# Match sqllogic junit test results files
/tests/sqllogic/*-junit.xml
