# Match directory with clangd cache
/.cache/

# Match build directory
/build/
/build_*/

# Match vscode settings directory
/.vscode/

# Match CMake user presets
/CMakeUserPresets.json

# Match sqllogic junit test results files
*-junit.xml

/perf.*

/serenedb-data/
/logs/
*.pyc
docker.env

# Match macos files
.DS_Store

# Match install and package dirs
/install/
/install_all/
/package_all/
