[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/serenedb/boost.git
	shallow = true
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/serenedb/openssl.git
	shallow = true
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/serenedb/llvm-project.git
	shallow = true
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/serenedb/simdjson.git
	shallow = true
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/serenedb/abseil-cpp.git
	shallow = true
[submodule "third_party/s2geometry"]
	path = third_party/s2geometry
	url = https://github.com/serenedb/s2geometry.git
	shallow = true
[submodule "third_party/zlib-ng"]
	path = third_party/zlib-ng
	url = https://github.com/serenedb/zlib-ng.git
	shallow = true
[submodule "third_party/tcmalloc"]
	path = third_party/tcmalloc
	url = https://github.com/serenedb/tcmalloc.git
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/serenedb/googletest.git
	shallow = true
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/serenedb/fmt.git
	shallow = true
[submodule "third_party/liburing"]
	path = third_party/liburing
	url = https://github.com/serenedb/liburing.git
	shallow = true
[submodule "third_party/minizip-ng"]
	path = third_party/minizip-ng
	url = https://github.com/serenedb/minizip-ng.git
	shallow = true
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/serenedb/lz4.git
	shallow = true
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/serenedb/re2.git
	shallow = true
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/serenedb/benchmark.git
	shallow = true
[submodule "third_party/fast_float"]
	path = third_party/fast_float
	url = https://github.com/serenedb/fast_float.git
	shallow = true
[submodule "third_party/sqllogictest-rs"]
	path = third_party/sqllogictest-rs
	url = https://github.com/serenedb/sqllogictest-rs.git
	shallow = true
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/serenedb/zstd.git
	shallow = true
[submodule "third_party/streamvbyte"]
	path = third_party/streamvbyte
	url = https://github.com/serenedb/streamvbyte.git
	shallow = true
[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/serenedb/faiss.git
	shallow = true
[submodule "third_party/yaclib"]
	path = third_party/yaclib
	url = https://github.com/YACLib/YACLib.git
	shallow = true
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/serenedb/snappy.git
	shallow = true
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/serenedb/curl.git
	shallow = true
[submodule "third_party/jansson"]
	path = third_party/jansson
	url = https://github.com/serenedb/jansson.git
	shallow = true
[submodule "third_party/avro"]
	path = third_party/avro
	url = https://github.com/serenedb/avro.git
	shallow = true
[submodule "third_party/aws-c-auth"]
	path = third_party/aws-c-auth
	url = https://github.com/serenedb/aws-c-auth.git
	shallow = true
[submodule "third_party/aws-c-cal"]
	path = third_party/aws-c-cal
	url = https://github.com/serenedb/aws-c-cal.git
	shallow = true
[submodule "third_party/aws-c-common"]
	path = third_party/aws-c-common
	url = https://github.com/serenedb/aws-c-common.git
	shallow = true
[submodule "third_party/aws-c-compression"]
	path = third_party/aws-c-compression
	url = https://github.com/serenedb/aws-c-compression.git
	shallow = true
[submodule "third_party/aws-c-event-stream"]
	path = third_party/aws-c-event-stream
	url = https://github.com/serenedb/aws-c-event-stream.git
	shallow = true
[submodule "third_party/aws-c-http"]
	path = third_party/aws-c-http
	url = https://github.com/serenedb/aws-c-http.git
	shallow = true
[submodule "third_party/aws-c-io"]
	path = third_party/aws-c-io
	url = https://github.com/serenedb/aws-c-io.git
	shallow = true
[submodule "third_party/aws-c-mqtt"]
	path = third_party/aws-c-mqtt
	url = https://github.com/serenedb/aws-c-mqtt.git
	shallow = true
[submodule "third_party/aws-c-s3"]
	path = third_party/aws-c-s3
	url = https://github.com/serenedb/aws-c-s3.git
	shallow = true
[submodule "third_party/aws-c-sdkutils"]
	path = third_party/aws-c-sdkutils
	url = https://github.com/serenedb/aws-c-sdkutils.git
	shallow = true
[submodule "third_party/aws-checksums"]
	path = third_party/aws-checksums
	url = https://github.com/serenedb/aws-checksums.git
	shallow = true
[submodule "third_party/aws-crt-cpp"]
	path = third_party/aws-crt-cpp
	url = https://github.com/serenedb/aws-crt-cpp.git
	shallow = true
[submodule "third_party/aws-sdk-cpp"]
	path = third_party/aws-sdk-cpp
	url = https://github.com/serenedb/aws-sdk-cpp.git
	shallow = true
[submodule "third_party/duckdb"]
	path = third_party/duckdb
	url = https://github.com/serenedb/duckdb.git
	shallow = true
[submodule "third_party/duckdb_httpfs"]
	path = third_party/duckdb_httpfs
	url = https://github.com/serenedb/duckdb-httpfs.git
	shallow = true
[submodule "third_party/duckdb_avro"]
	path = third_party/duckdb_avro
	url = https://github.com/serenedb/duckdb-avro.git
	shallow = true
[submodule "third_party/duckdb_iceberg"]
	path = third_party/duckdb_iceberg
	url = https://github.com/serenedb/duckdb-iceberg.git
	shallow = true
[submodule "third_party/duckdb_postgres"]
	path = third_party/duckdb_postgres
	url = https://github.com/serenedb/duckdb-postgres.git
	shallow = true
[submodule "third_party/postgres"]
	path = third_party/postgres
	url = https://github.com/serenedb/postgres.git
	shallow = true
[submodule "third_party/database-connector"]
	path = third_party/database-connector
	url = https://github.com/serenedb/database-connector.git
	shallow = true
[submodule "third_party/simdutf"]
	path = third_party/simdutf
	url = https://github.com/serenedb/simdutf.git
	shallow = true
[submodule "third_party/ada"]
	path = third_party/ada
	url = https://github.com/serenedb/ada.git
	shallow = true
[submodule "third_party/duckdb_inet"]
	path = third_party/duckdb_inet
	url = https://github.com/serenedb/duckdb-inet.git
	shallow = true
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/serenedb/OpenBLAS.git
	shallow = true
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/serenedb/jemalloc.git
	shallow = true
[submodule "third_party/croaring"]
	path = third_party/croaring
	url = https://github.com/serenedb/CRoaring.git
	shallow = true
[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/serenedb/brotli.git
	shallow = true
