@import "tailwindcss";
@import "tw-animate-css";
@import "@vscode/codicons/dist/codicon.css";
@import "../../../node_modules/@serene-ui/shared-frontend/dist/styles.css";
@source "../../../node_modules/@serene-ui/shared-frontend";

@layer base {
    * {
        @apply border-border outline-ring;
    }

    button,
    a {
        cursor: pointer;
    }
    body {
        font-family: var(--font-sans);
        @apply bg-background text-foreground;
    }
    :root.no-theme-transition *,
    :root.no-theme-transition *::before,
    :root.no-theme-transition *::after {
        transition: none !important;
    }
    .bg-background {
        background-color: var(--color-background);
    }

    .bg-sidebar {
        background-color: var(--color-sidebar);
    }

    .sb-show-main.sb-main-padded {
        padding: 0 !important;
    }
}

@layer utilities {
    .txtPassword {
        -webkit-text-security: disc;
    }
}

@layer utilities {
    .fade-in {
        animation: fade-in 0.3s ease-in-out;
    }
    .fade-out {
        animation: fade-out 0.3s ease-in-out;
    }
    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #6b7280 #11131e;
    }

    .scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #11131e;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #6b7280;
        border: 2px solid #11131e;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #9ca3af;
    }

    @keyframes page-fade {
        from {
            opacity: 0;
            transform: translateY(4px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}
