@source "../frontend/"
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: "DMSans";
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover-secondary: var(--popover-secondary);
    --color-popover-secondary-foreground: var(--popover-secondary-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-thirdly: var(--thirdly);
    --color-thirdly-foreground: var(--thirdly-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-serene-blue: var(--serene-blue);
}

:root {
    --radius: 0.625rem;
    --font-sans: "DMSans";
    --background: #ffffff;
    --foreground: #11121d;
    --card: #f0f2f5;
    --card-foreground: #506182;
    --popover: #f0f2f5;
    --popover-foreground: #506182;
    --popover-secondary: #f0f2f5;
    --popover-secondary-foreground: #506182;
    --primary: #8555f7;
    --primary-foreground: #ffffff;
    --secondary: #f2f2f2;
    --secondary-foreground: #506182;
    --thirdly: #f0f2f5;
    --thirdly-foreground: #506182;
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: #dcdfe6;
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: #e7e7e7;
    --input: ##e7e7e7;
    --ring: oklch(0.645 0.246 16.439);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #ffffff;
    --sidebar-foreground: #506182;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #d9d9d94d;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #506182;
    --sidebar-border: #e7e7e7;
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --serene-blue: #47668b;
}

.dark {
    --radius: 0.625rem;
    --font-sans: "DMSans";
    --background: #212121;
    --foreground: #a8b2c8;
    --card: #212027;
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: #212027;
    --popover-foreground: #ffffff4d;
    --popover-secondary: #1a1c25;
    --popover-secondary-foreground: #ffffff4d;
    --primary: #8555f7;
    --primary-foreground: #ffffff;
    --secondary: rgba(85.098%, 85.098%, 85.098%, 0.05);
    --secondary-foreground: #a8b2c8;
    --thirdly: #d9d9d90d;
    --thirdly-foreground: rgba(100%, 100%, 100%, 0.4);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: #d9d9d91a;
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: rgba(217, 217, 217, 0.07);
    --input: rgba(217, 217, 217, 0.07);
    --ring: rgba(217, 217, 217, 0.07);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #2d2c2c;
    --sidebar-foreground: #d9d9d94d;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #d9d9d94d;
    --sidebar-accent: #d9d9d90d;
    --sidebar-accent-foreground: #d9d9d9b2;
    --sidebar-border: #333333;
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --serene-blue: #47668b;
}

.monaco-editor .view-overlays .current-line-exact {
    background-color: var(--secondary);
    border: none !important;
}
.monaco-editor-background {
    background-color: transparent !important;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin,
.monaco-editor .monaco-scrollable-element {
    background: transparent !important;
}

.monaco-editor .margin {
    background: transparent !important;
}

.monaco-editor-overlaymessage {
    display: none !important;
}

@font-face {
    font-family: "DMSans";
    src: url("./shared/assets/fonts/DMSans/DMSans.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}
