name: SereneDB Build (Scheduled)

on:
  schedule:
    - cron: '30 23 * * *' # daily at ~2AM to 4AM Moscow time

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      LOCATION: 'parilka'
      BRANCH: 'main'
      DOCKER_BUILD_IMAGES: false
      DOCKER_SERENEDB_IMAGE: true
      PUSH_IMAGES_2_REGISTRY: true
      DEB_TAR_PACKAGES: true
      DOCKER_TAG: ''
      BUILD_IMAGE: 'registry.serenedb.com:5000/serenedb-build-ubuntu:latest'
      BUILDMODE: 'Release'
      USE_DEBUG_INFO: 'COLUMNS'
      SDB_DEV: 'Off'
      USE_IPO: 'On'
      SDB_ALLOC: 'JE'
      STATIC_EXECUTABLES: 'On'
      ENSURE_VTUNE_SYMBOLS: 'Off'
      STRIP_TARBALL: true
      TEST_PACKAGES: true
    secrets:
      SDB_PRIVATE_BRANCH: ${{ secrets.SDB_PRIVATE_BRANCH }}
      SDB_PRIVATE: ${{ secrets.SDB_PRIVATE }}
      TG_TOKEN: ${{ secrets.TG_TOKEN }}
      TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
      TG_THREAD_ID_BUILD: ${{ secrets.TG_THREAD_ID_BUILD }}
      TG_THREAD_ID_MAIN: ${{ secrets.TG_THREAD_ID_MAIN }}
      SDB_PRIVATE_REPO: ${{ secrets.SDB_PRIVATE_REPO }}
      PRIVATE_ENG_REPO: ${{ secrets.PRIVATE_ENG_REPO }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
