name: SereneDB-Build-Manual

on:
  workflow_dispatch:
    inputs:
      LOCATION:
        description: 'Where the load is executed'
        type: choice
        required: true
        options:
          - parilka
          - self-hosted
        default: 'self-hosted'
      BRANCH:
        description: 'SereneDB branch to test'
        type: string
        required: true
        default: 'main'
      BUILD_CONFIG:
        description: 'JSON config for build settings'
        type: string
        required: false
        default: '{"BUILD_SERENEDB":"true","CLUSTER_BRANCH":"main","BUILD_IMAGE":"registry.serenedb.com:5000/serenedb-build-ubuntu:latest","SDB_CLUSTER":"Off","DEBUG_PRINT_ENV":"false"}'
      BUILD_PACKAGES:
        description: 'Package serened binary'
        type: boolean
        required: true
        default: false
      DEB_TAR_PACKAGES:
        description: 'Package .deb and .tar.gz'
        type: boolean
        required: false
        default: false
      STRIP_TARBALL:
        description: 'Strip tarball'
        required: true
        type: boolean
        default: true
      DOCKER_SERENEDB_IMAGE:
        description: 'Produce SereneDB Docker Images'
        required: true
        type: boolean
        default: false
      DOCKER_EXTRA_TAGS:
        description: '(Optional) Custom TAGS for DOCKER_SERENEDB_IMAGE'
        required: false
        type: string
        default: ''
      PUSH_IMAGES_2_REGISTRY:
        description: 'Push images to Private Docker Registry'
        required: true
        type: boolean
        default: false
      RUN_TESTS:
        description: 'Enable test execution'
        type: boolean
        required: false
        default: true
      TEST_CONFIG:
        description: 'JSON config for tests'
        type: string
        required: false
        default: '{"VPACK_TESTS":"true","IRESEARCH_TESTS":"true","UNIT_TESTS":"true","SQLLOGIC_TESTS":"true","INTEGRATION_TESTS":"false","FULL_SUITE":"false"}'
      INTEGRATION_TESTS_COREDUMPS:
        description: '0 - no coredumps; -1 - unlimited coredumps'
        type: choice
        required: true
        default: '0'
        options:
          - '0'
          - '-1'
      SANITIZERS:
        description: 'Sanitizer to use'
        type: string
        required: false
        default: ''
        options:
          - ''
          - Undefined
          - Address
          - Thread
          - Memory
          - Leak
          - AddressLight
          - UndefinedAddress
          - UndefinedAddressLight
          - MemoryWithOrigins
      USE_COVERAGE:
        description: 'Coverage type'
        type: string
        required: false
        default: ''
        options:
          - ''
          - SourceBased
          - SourceBasedMCDC
          - GCOV
      SDB_ALLOC:
        description: 'Enable custom memory allocator'
        type: choice
        required: true
        default: 'JE'
        options:
          - JE
          - TC
          - SYS
      SDB_DEV:
        description: 'Development mode'
        type: choice
        required: true
        default: 'On'
        options:
          - 'On'
          - 'Off'
      USE_IPO:
        description: 'Use IPO'
        type: choice
        required: true
        default: 'Off'
        options:
          - 'Off'
          - 'On'
      ENSURE_VTUNE_SYMBOLS:
        description: 'Affects only server'
        type: choice
        required: true
        default: 'Off'
        options:
          - 'Off'
          - 'On'
      BUILDMODE:
        description: 'Build mode'
        type: choice
        required: true
        default: 'RelWithDebInfo'
        options:
          - RelWithDebInfo
          - Debug
          - Release
          - MinSizeRel
          - None
      USE_DEBUG_INFO:
        description: 'Debug info level'
        type: choice
        required: true
        default: 'COLUMNS'
        options:
          - COLUMNS
          - SANITIZE
          - PROFILE
          - COVERAGE
          - LLDB
          - GDB
          - FULL
          - LINES
          - NONE
      EXTRA_ARTIFACTS:
        description: 'Keep these artifacts additionally'
        type: string
        required: false
        default: ''
      DOCKER_BUILD_IMAGES:
        description: 'Produce SereneDB Build Images'
        required: true
        type: boolean
        default: false

jobs:
  call-reusable:
    uses: ./.github/workflows/build-reusable.yml
    with:
      # General environment
      BRANCH: ${{ inputs.BRANCH }}
      LOCATION: ${{ inputs.LOCATION }}
      BUILD_PACKAGES: ${{ inputs.BUILD_PACKAGES }}
      DOCKER_SERENEDB_IMAGE: ${{ inputs.DOCKER_SERENEDB_IMAGE }} 
      EXTRA_ARTIFACTS: ${{ inputs.EXTRA_ARTIFACTS }}
      PUSH_IMAGES_2_REGISTRY: ${{ inputs.PUSH_IMAGES_2_REGISTRY }}
      RUN_TESTS: ${{ inputs.RUN_TESTS }}
      STRIP_TARBALL: ${{ inputs.STRIP_TARBALL }}
      DOCKER_BUILD_IMAGES: ${{ inputs.DOCKER_BUILD_IMAGES }} 
      # Build config environment
      BUILD_CONFIG: ${{ inputs.BUILD_CONFIG }}
      # Test config environment
      TEST_CONFIG: ${{ inputs.TEST_CONFIG }}
      # Scripts environment
      SANITIZERS: ${{ inputs.SANITIZERS }}
      USE_COVERAGE: ${{ inputs.USE_COVERAGE }}
      BUILDMODE: ${{ inputs.BUILDMODE }}
      USE_DEBUG_INFO: ${{ inputs.USE_DEBUG_INFO }}
      SDB_DEV: ${{ inputs.SDB_DEV }}
      USE_IPO: ${{ inputs.USE_IPO }}
      SDB_ALLOC: ${{ inputs.SDB_ALLOC }}
      ENSURE_VTUNE_SYMBOLS: ${{ inputs.ENSURE_VTUNE_SYMBOLS }}
      INTEGRATION_TESTS_COREDUMPS: ${{ inputs.INTEGRATION_TESTS_COREDUMPS }}
      DEB_TAR_PACKAGES: ${{ inputs.DEB_TAR_PACKAGES }}
      DOCKER_EXTRA_TAGS: ${{ inputs.DOCKER_EXTRA_TAGS }}

    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      SDB_CLUSTER_REPO: ${{ secrets.SDB_CLUSTER_REPO }}
      TG_TOKEN: ${{ secrets.TG_TOKEN }}
      TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
      TG_THREAD_ID_BUILD: ${{ secrets.TG_THREAD_ID_BUILD }}
      TG_THREAD_ID_MAIN: ${{ secrets.TG_THREAD_ID_MAIN }}
      TG_USER_MAP: ${{ secrets.TG_USER_MAP }}

