name: SereneUI Build (Manual)

on:
    workflow_dispatch:
        inputs:
            LOCATION:
                description: "Where the load is executed"
                required: true
                type: choice
                options:
                    - parilka
                default: "parilka"
            BRANCH:
                description: "SereneUI branch to test"
                required: true
                type: string
                default: "main"
            BUILD_IMAGE:
                description: "Build SereneUI Docker image"
                required: true
                type: boolean
                default: false
            PUSH_IMAGE_TO_REGISTRY:
                description: "Push SereneUI Docker image to Docker Registry"
                required: true
                type: boolean
                default: false
            RUN_TESTS:
                description: "Run SereneUI screenshot tests"
                required: true
                type: boolean
                default: true
            DOCKER_TAG:
                description: "Custom TAG for SereneUI Docker image"
                required: false
                type: string
                default: "latest"
            BUILD_LINUX_APP:
                description: "Build SereneUI Linux desktop app"
                required: true
                type: boolean
                default: false
            BUILD_WINDOWS_APP:
                description: "Build SereneUI Windows desktop app"
                required: true
                type: boolean
                default: false
            BUILD_MACOS_APP:
                description: "Build SereneUI macOS desktop app"
                required: true
                type: boolean
                default: false
            PUSH_RELEASE:
                description: "Publish desktop app builds as GitHub Release"
                required: true
                type: boolean
                default: false

jobs:
    build:
        uses: ./.github/workflows/serene-ui-reusable.yml
        with:
            LOCATION: ${{ inputs.LOCATION }}
            BRANCH: ${{ inputs.BRANCH }}
            BUILD_IMAGE: ${{ inputs.BUILD_IMAGE }}
            PUSH_IMAGE_TO_REGISTRY: ${{ inputs.PUSH_IMAGE_TO_REGISTRY }}
            RUN_TESTS: ${{ inputs.RUN_TESTS }}
            DOCKER_TAG: ${{ inputs.DOCKER_TAG }}
            BUILD_LINUX_APP: ${{ inputs.BUILD_LINUX_APP }}
            BUILD_WINDOWS_APP: ${{ inputs.BUILD_WINDOWS_APP }}
            BUILD_MACOS_APP: ${{ inputs.BUILD_MACOS_APP }}
            PUSH_RELEASE: ${{ inputs.PUSH_RELEASE }}
        secrets:
            TG_TOKEN: ${{ secrets.TG_TOKEN }}
            TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
            TG_THREAD_ID_BUILD: ${{ secrets.TG_THREAD_ID_BUILD }}
            TG_THREAD_ID_MAIN: ${{ secrets.TG_THREAD_ID_MAIN }}
